.Logo{

}
.NavBar{
    display: flex;
    flex-direction: row;
    background-color: #f6f5f5;
}
.NavList{
    text-decoration: none;
    display: flex;
    list-style: none;
    text-indent: 2.3rem;
    align-content: center;
    max-width: 80vw;
}
.Login{
    display: flex;
    flex-direction: row;
}